<!--
  Generated template for the CompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  no-border>

  <ion-navbar color="third">
    <ion-title>Company Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-segment color="primary"  [(ngModel)]="form" >
        <ion-segment-button value="personal" >
          Personal
        </ion-segment-button>
        <ion-segment-button value="profession" >
          Profession
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="form">
        <div *ngSwitchCase="'personal'">
            <form [formGroup]="company" (ngSubmit)="logFormOne()">
             
                  <ion-item no-lines style="width:100%">
                    <ion-label color="primary" style="font-family: Lucida sans">Country</ion-label>
                    <ion-select (ionChange)="countryValue()" formControlName="company_country">
                      <ion-option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</ion-option>
                    </ion-select>
                  </ion-item>
                  
                  <ion-item no-lines style="width:100%">
                    <ion-label color="primary" style="font-family: Lucida sans">State</ion-label>
                    <ion-select (ionChange)="stateValue()" formControlName="company_state">
                      <ion-option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</ion-option>
                    </ion-select>
                  </ion-item>
                  
                  <ion-item no-lines style="width:100%">
                    <ion-label color="primary" style="font-family: Lucida sans">City</ion-label>
                    <ion-select formControlName="company_city">
                      <ion-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-option>
                    </ion-select>
                  </ion-item>
            
                  <ion-item no-lines >
                      <ion-label style="font-family: Lucida sans;" color="primary" floating>Enter Company Name</ion-label>
                    <ion-input style=" border-bottom:3px solid #488aff" type="text" formControlName="company_name"></ion-input>
                  </ion-item>
            
                  <ion-item no-lines>
                      <ion-label style="font-family: Lucida sans" color="primary" floating>Enter Company Phone Number</ion-label>
                    <ion-input style=" border-bottom:3px solid #488aff" type="tel" formControlName="company_phone"></ion-input>
                  </ion-item>
            
                  <ion-item no-lines>
                    <ion-label style="font-family: Lucida sans" color="primary" floating>Enter Company Address</ion-label>
                    <ion-input style=" border-bottom:3px solid #488aff" type="text" formControlName="company_address"></ion-input>
                  </ion-item>
            
                          <ion-item no-lines>
                              <ion-label style="font-family: Lucida sans" color="primary" floating>Enter Company Website</ion-label>
                              <ion-input style=" border-bottom:3px solid #488aff" type="url" formControlName="company_website"></ion-input>
                            </ion-item>
            
                            <ion-item no-lines>
                                <ion-label style="font-family: Lucida sans" color="primary" floating>Enter Years of Experience</ion-label>
                                <ion-input style=" border-bottom:3px solid #488aff"  type="number" formControlName="company_years"></ion-input>
                              </ion-item>
                    <ion-item >
                        <ion-input accept="image/*" (change)="upload($event)" placeholder="select picture" id="photo" type="file"></ion-input>                    
                      </ion-item>

                      
                      <button end clear   ion-button type="submit" color="primary">submit</button>
                      </form>
        </div>
      
          <div *ngSwitchCase="'profession'">
              <form [formGroup]="company_setup" (ngSubmit)="logFormTwo()">
                  <ion-item no-lines style="width:100%">
                      <ion-label color="primary" style="font-family: Lucida sans">Company Type</ion-label>
                      <ion-select  formControlName="company">
                        <ion-option *ngFor="let company of companies" value="{{company.id}}">{{company.name}}</ion-option>
                      </ion-select>
                    </ion-item>
                    
                  <ion-item no-lines style="width:100%">
                      <ion-label color="primary" style="font-family: Lucida sans">Category Type</ion-label>
                      <ion-select (ionChange)="categoryValue()" formControlName="category">
                        <ion-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</ion-option>
                        
                      </ion-select>
                    </ion-item>
                  
                    <ion-item no-lines style="width:100%">
                      <ion-label color="primary" style="font-family: Lucida sans">Services Type</ion-label>
                      <ion-select  formControlName="service">
                        <ion-option *ngFor="let service of services" value="{{service.id}}">{{service.name}}</ion-option>
                      </ion-select>
                    </ion-item>

                   

                    <ion-item >
                        <ion-label style="font-family: Lucida sans" color="primary" stacked>Enter A Description</ion-label>
                        <ion-textarea no-lines style="border: solid 1px 488aff" formControlName="description" ></ion-textarea>
                      </ion-item>
                      <button color="primary" clear style="margin-left:21px" ion-button type="submit">submit</button>
              </form>
          </div>
        </div>
</ion-content>
