
<ion-content class="profile-content">
    <div *ngIf="logged">
        <div class="user-details">
    <ion-row class="user-main-data-row">
      <ion-col no-padding width-33>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" src="./assets/imgs/handymantwo.jpg" alt="" title=""></preload-image>
      </ion-col>
      <ion-col no-padding>
        <ion-row class="social-presence-row">
          <ion-col col-6 class="social-presence-item">
            <a>
              <h2 class="social-presence-value">12</h2>
              <h4 class="social-presence-title">Tasks Completed</h4>
            </a>
          </ion-col>
          <ion-col col-6 class="social-presence-item">
            <a>
              <h2 class="social-presence-value">20</h2>
              <h4 class="social-presence-title">Times Contacted</h4>
            </a>
          </ion-col>
        </ion-row>
        <ion-row class="profile-action-row">
          <ion-col no-padding>
            <button ion-button block small (click)="goToSettings()">
              Edit profile
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row wrap class="user-bio-row">
      <ion-col no-padding width-50>
        <h2 class="user-name"></h2>
      </ion-col>
      <ion-col no-padding width-50>
        <span class="user-location">Painting</span>
      </ion-col>
      <ion-col no-padding width-100>
        <p class="user-description">
          <strong>DESCRIPTION:</strong> a lot of people thjckjnv dkmcfkv kf kmv dkfnvk v  c dkcvn fv dfk vdfvnkvnfjc  fkmnvkdfnvkndf nkdfjvnkdfnckd fjkdvnf
        </p>
        <p class="user-description">
          <strong>NUMBER OF COMPANIES:</strong> 23
        </p>
        <p class="user-description">
          <strong>NUMBER OF COMPANIES VERIFIED:</strong> 1
        </p>
        <p class="user-description">
          <strong>CURRENT LOCATION:</strong> Maitama
        </p>
      </ion-col>
    </ion-row>
    </div>
    </div>

</ion-content>
<ion-content class="log">
    <div *ngIf="!logged">
        
        <div style="padding-top:63%" padding>
            
          <ion-item color="light">
              <button style="border-radius:20px" ion-button block (click)="goToReg()"  color="first" class="login-button">REGISTER</button>
          </ion-item>
          <ion-item color="light">
              <button style="border-radius:20px" ion-button block (click)="goToLog()"  color="first" class="login-button">Login</button>
          </ion-item>
          
          
        </div>
        
        </div>
</ion-content>



