<ion-content padding class="transparent-header">
  <ion-header no-border>
    <ion-navbar fullscreen elestic-header>
    </ion-navbar>
  </ion-header>

  <div *ngIf="!show" align="center" style="background:none !important">
    <img src="./assets/imgs/loadgif.gif"/>
  </div>

  <div *ngIf="show" id="profile-bg" style="background-image:url(./assets/imgs/bgsix.jpg)">
  <div id="content">
    <div id="profile-info" padding>
        <img id="profile-image" *ngIf="this.profiles.pic_set == 1" src={{this.globals.baseUrl}}{{this.profiles.path}}>
        <img id="profile-image" *ngIf="this.profiles.pic_set == !1" src="./assets/imgs/fhm.jpg">
      <h3 id="profile-name">{{profiles.name}}</h3>
      <p>{{this.profiles.website}}&bull;{{this.profiles.email}}</p>
      <p>{{profiles.city_name}} &bull; {{profiles.state_name}}</p>
      <p class="profile-description">{{profiles.description}}</p>
      <button ion-button (click)="message()" small color="purple" >Message</button>
      <button ion-button *ngIf="!bookmarked" (click)="bookmark()" class="follow-button" small color="purple">Bookmark</button>
      <button ion-button *ngIf="bookmarked" class="follow-button" small color="purple">Bookmarked</button>
    </div>
  </div>
  <div>
      <ion-segment  [(ngModel)]="pet">
        <ion-segment-button value="details" style="color:#6b6b6b; font-size: 5px">
        <ion-icon style="font-size: 17px">Details</ion-icon>
        </ion-segment-button>
        <ion-segment-button value="reviews" style="color:#6b6b6b">
        <ion-icon style="font-size: 17px">Reviews</ion-icon>
        </ion-segment-button>
        </ion-segment>

    </div>
    <div [ngSwitch]="pet">
    <div  *ngSwitchCase="'details'">
        <div padding style="text-align:start">
            <ion-grid>
                <ion-row>
                  <ion-col>
                     <b> Nationality:</b>
                  </ion-col>
                  <ion-col>
                      {{this.profiles.country_name}}
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <b>Phone 1:</b>
                    </ion-col>
                    <ion-col>
                        {{this.profiles.phone_number}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          <b>Address:</b>
                      </ion-col>
                      <ion-col>
                          {{this.profiles.address}}
                      </ion-col>
                    </ion-row>
              </ion-grid>
          </div>
    </div>
    <div  *ngSwitchCase="'reviews'">
       
      </div>
      </div>
    </div>
    </ion-content>