<ion-header no-border>
  <ion-navbar color="light">
    <ion-grid>
    <ion-row >
    <ion-col col-4>
    <div>
    <ion-buttons>
      <button ion-button menuToggle>
        <ion-icon style="color:rgb(0, 0, 0)" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    </div>
    </ion-col>
    <ion-col col-4>
    <div>
      <!-- <img src="./assets/imgs/radr.png"/> -->
    </div>
    </ion-col>
    <ion-col col-4>
    <div>
    <ion-buttons end >
    <button [disabled]="logged === true" ion-button tappable (click)="presentSignup($event)">
    <ion-icon style="color:rgb(0, 0, 0)" name="md-contact"></ion-icon>
    </button>
    <button (click)="useLocator()" ion-button tappable>
    <ion-icon style="color:rgb(0, 0, 0)" name="pin"></ion-icon>
    </button>
    </ion-buttons>
    </div>
    </ion-col>
    </ion-row>
    </ion-grid>
   </ion-navbar>
    </ion-header>


<ion-content class="background">
  <div *ngIf="show">
  <div class="search-container">
  <ion-toolbar color="light"  class="search-toolbar">
      <ion-buttons style="margin-left:-10px" end>
          <button (click)="drop($event)" tappable ion-button icon-only class="geolocation-button" >
            <ion-icon color="third" name="ios-options"></ion-icon>
          </button>
        </ion-buttons>
    <ion-searchbar (ionInput)="searchResult($event)" [(ngModel)]="autocomplete.input" (ionClear)="clearSearch($event)" class="search-places-bar" placeholder="Search a Service"></ion-searchbar>
    </ion-toolbar>


    <ion-list [hidden]="this.autocomplete.input.length == 0" *ngIf="result === true" class="search-options-list">

        <ion-item *ngIf="showLoading">
            loading image
        </ion-item>

        <div *ngIf="!showLoading && result">
            <ion-item *ngFor="let item of list" tappable (click)="selectSearchResult(item.id)">
                <ion-icon end color="third" name="ios-more"></ion-icon>
              {{ item.name }}
            </ion-item>
          </div>

      </ion-list>

      <ion-list *ngIf="result === false" class="search-results">
          <ion-item tappable >
            No result found
          </ion-item>
        </ion-list><br><br>


  <div align="center"  style="padding-left:12vw">
<div *ngFor="let category of categories" style='margin-bottom: 2%; float:left;height:20vh;width:35vw;border:1px solid grey;margin-right:5vw; background: white;box-shadow: 2px 2px #888888;'>
  <p style="width:100%; height:50%;"><img style="height: 100%" (click)="openService(category.id, category.name)" src="{{this.globals.baseUrl}}admin/uploads/category/{{category.path}}"/></p>
  <h5>{{category.name}}</h5>
</div>

  <div style="clear:both"></div>
  </div>
<div style="clear:both"></div>
  </div>
  </div>
  <div *ngIf="show === false">
      <preload-image  [ratio]="{w:1, h:1}" src="./assets/imgs/nonet.png"></preload-image>
      <button style="margin-left:45%" (click)="reload()" color="primary" clear ion-button>Try Again</button>
</div>
</ion-content>



<!-- <ion-item no-lines style="border-radius:25px; padding: 0.25em 0.75em;">
    <ion-input type="text" placeholder="Type name of HandyMan"></ion-input><ion-icon name="ios-search" item-right></ion-icon>
  </ion-item>
  <button outline (click)="searchResult()" style="margin-left:22px; color: white" ion-button>Search</button> -->