page-individual {

  .item-select {
    width: 75%; /* Or whatever you'd like the width to be */
  }
  
  .item-select select {
    left: 0;
  }

  .toolbar-background {
    border-color: transparent;
    background:rgba(255, 255, 255, 0.3);
}

}
